accelerate==1.12.0
apex==0.1
click==8.1.7
depth_anything_v2==0.1.0
gradio==6.3.0
huggingface_hub==0.36.0
kornia==0.8.2
matplotlib==3.8.4
mlflow==3.8.1
numpy==1.24.4
omegaconf==2.3.0
opencv_python==4.7.0.68
opencv_python_headless==4.7.0.68
pandas==1.5.3
Pillow==12.1.0
pipeline==0.1
plyfile==1.1.3
Requests==2.32.5
scipy==1.17.0
spaces==0.46.0
sympy==1.12
tensorboardx==2.6.4
torch==2.3.0a0+6ddf5cf85e.nv24.4
torchvision==0.18.0a0
tqdm==4.66.2
trimesh==4.11.0
utils3d==1.3
xformers==0.0.33.post2
